@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------- */
/* Style react-tooltip */
/* ------------------- */
.Button__Tooltip {
  background: #FFFFFF !important;
  border: 1px solid rgba(26, 28, 34, 0.1) !important;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1) !important;
  border-radius: 4px !important;
  color: #888888 !important; 
}

.Button__Tooltip.place-top::after {
  border-top-color: #FFFFFF !important;
  bottom: -9px !important;
  border-top-width: 9px !important;
  filter: drop-shadow(0 1px 0 rgba(26, 28, 34, 0.04));
}

.Button__Tooltip.place-left::after {
  border-left-color: #FFFFFF !important;
  right: -6px !important;
  border-left-width: 6px !important;
  filter: drop-shadow(1px 0 0 rgba(26, 28, 34, 0.04));
}

.Button__Tooltip.place-bottom::after {
  border-bottom-color: #FFFFFF !important;
  top: -8px !important;
  border-bottom-width: 8px !important;
  filter: drop-shadow(0 -1px 0 rgba(26, 28, 34, 0.08));
}

/* -------------------- */
/* Style react-collapse */
/* -------------------- */
/* TODO: Use tailwind extend/apply ? */
.ReactCollapse--collapse {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}